* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1280px;
	height: 726px;
	z-index: 1;
}

.hit_1, .hit_2 {
  position: absolute;
  width: 1280px;
  height: 726px;
  display: none;
  z-index: 15;
}

.hit_pop1 {
	position: absolute;
  left: 161px;
  top: 422px;
  width: 470px;
  height: 217px;
	z-index: 10;
}

.hit_pop2 {
	position: absolute;
  left: 516px;
  top: 513px;
  width: 464px;
  height: 206px;
	z-index: 10;
}